:root {
    --dark: #161616;
    --dark-gray: #202020;
    --gray: #313131;
    --light-gray-1: #5e5e5e;
    --light-gray-2: #9C9FAE;
    --light-gray-3: #c2fcff;
    --light-blue: #0EF1FF;
    --light-green: #32AC1E;
    --light-green-hover: #3ac924;
}
* {
    box-sizing: border-box !important;
}
body {
    background-color: var(--dark) !important;
    padding: 0;
    margin: 0;
}
/* Sidebar */
.sidebar { 
    margin: 0;
    padding: 0; 
    width: 4.5rem;
    background-color: var(--dark-gray);
    position: fixed;
    height: 100% ;
    overflow: auto;
}
.sidebar a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}
.sidebar a i {
    font-size: 20pt !important;
}
.sidebar a i:hover {
    color: var(--light-green);
    transition: 0.8s;
}
.sidebar a .fa-circle {
    font-size: 20pt !important;
    border-radius: 50%;
}
.sidebar a .fa-circle:hover {
    transition: 0.8s;
}
.sidebar .circleIcon, .sidebar a {
    display: flex;
    align-items: center;
    height: 4.5rem;
    color: transparent;
}
.sidebar a i {
    border: 0 !important;
    color: white !important;
}
.sidebar a i:hover {
    color: var(--light-green) !important;
    transition: 0.8s !important;
}
/* Content */
.content {
    padding: 0 2rem 2rem 2rem;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all .5s;
    margin-left: 70px !important;
}
.upperContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding-top: 2rem;
}
.upperContainer .firstContainer {
    display: flex;
    align-items: center;
}
.upperContainer .firstContainer form i {    
    margin-right: 0.5rem;
    color: var(--light-gray-2);
} 
.upperContainer .firstContainer form i:hover {    
    cursor: pointer;
}
.upperContainer .firstContainer form input {
    background-color: transparent;
    border: 1px solid var(--dark);
}
.upperContainer .firstContainer form input::placeholder {
    color: var(--light-gray-2);
}
.upperContainer .secondContainer { 
    display: inline-flex;
    align-items: center;
}
.upperContainer .secondContainer .iconsContainer a i {
    padding: 0.75rem;
    margin-left: 0.5rem;
    color: var(--light-gray-2);
    background-color: var(--dark-gray);
}
.upperContainer .secondContainer .iconsContainer a i:hover {
    color: white;
    background-color: var(--gray);
    transition: 0.8s;
}
.upperContainer .secondContainer .profile {
    margin: 0;
    padding: 0;
}
.upperContainer .secondContainer .profile .profileImg  {
    width: 2.5rem;
    margin-left: 0.75rem;
}
.upperContainer .secondContainer .profile .profileImg:hover {
    cursor: pointer;
}
.middleUpperContainer {
    margin-bottom: 1rem;
}
.middleUpperContainer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;  
    min-width: 100% !important;
    margin: 0;
    padding: 0;
}
.middleUpperContainer .container .firstContainer h1 { 
    background: -webkit-linear-gradient(left, var(--light-green), var(--light-blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
}
.middleUpperContainer .container .firstContainer p {
    color: var(--light-gray-2);
    margin-bottom: 0;
    font-weight: 500 !important;
}
.middleUpperContainer .container .secondContainer button {
    color: white;
    background-color: var(--light-green);
    border: 0px;
    font-weight: 600;
    padding: 0.75rem 1rem;
}
.middleUpperContainer .container .secondContainer button:hover {
    background-color: var(--light-green-hover);
    transition: 0.8s;
}
.middleBottomContainer {
    margin-bottom: 2rem;
}
.row {
    --bs-gutter-x: 0 !important;
} 
.middleBottomContainer .container {
    background-color: var(--dark-gray);
    min-width: 15rem !important;
    margin-right: 0;
    margin-left: 0;
}
.middleBottomContainer .container .firstContainer {
    padding: 1rem;
    color: var(--light-gray-2);
}
.middleBottomContainer .container .firstContainer img {
    width: 3rem;
    margin-bottom: 1rem;
}
.middleBottomContainer .container .firstContainer h3 {
    margin: 0;
}
.middleBottomContainer .container .secondContainer {    
    color: var(--light-gray-2);
    background-color: var(--gray);
    padding: 1rem;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    text-decoration: none;
}
.middleBottomContainer .container .secondContainer:hover {
    color: white;
    background-color: var(--light-green);
    transition: 0.8s;
    cursor: pointer;
}
.middleBottomContainer .container .secondContainer h6 {
    display: inline;
    margin: 0;
    font-weight: 500 !important;
}
.middleBottomContainer .container .secondContainer i {
    margin: 0;
}
.bottomContainer .learningCotaniner {  
    color: var(--light-gray-2);
    background-color: var(--dark-gray);
    padding: 2rem !important;
    margin-bottom: 2rem;
        
    display: flex;
    flex-flow: column;
    min-height: 100%;
}
.bottomContainer .learningCotaniner .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.bottomContainer .learningCotaniner .container h4 {
    font-size: 20pt !important;
    margin-bottom: 0 !important;
}
.bottomContainer .learningCotaniner .container div {
    display: flex;
}
.bottomContainer .learningCotaniner .container div form {
    margin-right: 2rem;
}
.bottomContainer .learningCotaniner .container div form label {
    display: block !important;
    font-size: 12pt !important;
    font-weight: 500 !important;
    margin-bottom: 1.5rem;
}
.bottomContainer .learningCotaniner .container div form select {
    display: block !important;
    color: var(--light-gray-1);
    background-color: transparent;
    border: 0;
    font-size: 10pt !important;
    font-weight: 500 !important;
}
.bottomContainer .learningCotaniner .container div div h5  {
    font-size: 12pt !important;
    font-weight: 500 !important;
    margin: 0;
}
.bottomContainer .learningCotaniner .container div div h5 span {
    color: var(--light-green);
    font-size: 18pt !important;
    font-weight: 600 !important;
}
.bottomContainer .chartBox {
    flex-grow : 1;
}
.bottomContainer .transferContainer {
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.bottomContainer .transferContainer .container {
    margin-bottom: 2rem;
    min-width: 100% !important;
}
.bottomContainer .transferContainer .container .smallContainerOne {
    width: 9rem !important;
    height: 9rem !important;
    color: var(--light-gray-2);
    background-color: var(--dark-gray);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
.bottomContainer .transferContainer .container .smallContainerOne .smallContainerTwo a {
    text-decoration: none;
}
.bottomContainer .transferContainer .container .smallContainerOne .smallContainerTwo a i {
    color: var(--light-blue) !important;
    font-size: 25pt !important;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}
.bottomContainer .transferContainer .container .smallContainerOne .smallContainerTwo a i:hover {
    color: var(--light-gray-3) !important;
    transition: 0.8s;
}
.bottomContainer .transferContainer .container .smallContainerOne .smallContainerTwo h3 {
    margin: 0;
}
.bottomContainer .transferContainer .btnContainer {    
    width: 100%;
}
.bottomContainer .transferContainer .btnContainer button {
    width: 100%;
    font-size: 12pt;
    font-weight: 500;
    color: white;
    background-color: var(--light-green);
    padding: 1rem 0;
    border: 0;
}
.bottomContainer .transferContainer .btnContainer button:hover {
    background-color: var(--light-green-hover);
    transition: 0.8s;
}
@media screen and (max-width: 1199px) {
    .bottomContainer .transferContainer .btnContainer {    
        margin-bottom: 2rem;
    }
}
@media screen and (max-width: 992px) {
    .sidebar {
      width: 100%;
      height: 4.5rem;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
    }
    .sidebar a {
        margin: 0 3rem;
    }
    .content {
        margin: 4rem 2rem 2rem 2rem !important;
        padding: 0.25rem 0;
    }
    .upperContainer .secondContainer .profile .profileImg  {
        width: 2.5rem;
        margin-left: 0.75rem;
    }
    .bottomContainer .learningCotaniner {
        margin-bottom: 1.5rem;
    }
    .bottomContainer .transferContainer .container {
        min-width: 100% !important;
    }
}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 576px) {
    .sidebar {
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .content {
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }
    .middleBottomContainer .container {
        min-width: 100% !important;
    }
    .bottomContainer {
        width: 100% !important;
        display: inline !important;
    }
    .bottomContainer .transferContainer .btnContainer {    
        margin-bottom: 1rem;
    }
}
